.carousel-item img {
    width: 350px; /* ajusta el ancho según lo necesites */
    height: 250px; /* ajusta la altura según lo necesites */
    object-fit: cover;
}

.icon-size {
    font-size: 35px;
    color: black;
}

.bg-yellow {
    background-color: #FFB600;
}

.border-circle {
    border-radius: 50px;
}

.social_footer{
    text-align: center;
}

.follow_us{
    text-align: center;
}

.img-padding {
    padding: 10px;
}

.text-left {
    text-align: left;
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
  text-align: center;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

.items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.info{
    text-align: left;
}

footer {
    background-color: #FFB600;
    color: #1D1D1B;
    padding: 20px 0px;
    text-align: center;
    bottom: 0;
    width: 100%;
}

main {
    min-height: 100vh;
}

.ul-left {
    text-align: left;
}

.footer-section {
    display: inline-table;
    margin: 0 40px;
    text-align: left;
}

.footer-section h4 {
    margin-bottom: 10px;
    justify-content: center;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 5px;
}

.footer-section ul li a {
    color: #1D1D1B;
    text-decoration: none;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}