<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>GameGeek | Bienvenido</title>

    {% load static %}

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
  </head>

  <body>
    {% include 'base/navbar.html' %}
    <main>
      {% include 'base/carousel.html' %}

      <!-- Inicio Categorias -->
      <section class="section-space">
        <div class="container-fluid">
          <div
            class="row justify-content-center align-items-center text-center text-md-left"
          >
            <div class="col-12 col-md-auto col-lg-8 bg-yellow border-circle">
              <h3>Categorias</h3>
            </div>
          </div>
        </div>
      </section>
      <section class="section-space">
        <div class="items justify-content-center">
          <div class="card card-animation">
            <a href="/pages/pines.html">
              <img
              src="{% static 'img/otros/pines-categoria.png' %}"
              alt="pines"
              class="card-categoria"
              />
            </a>
          </div>
          <div class="card card-animation">
            <a href="/pages/peluches.html">
              <img
                src="{% static 'img/otros/peluches-categoria.png' %}"
                alt="peluches"
                class="card-categoria"
              />
            </a>
          </div>
          <div class="card card-animation">
            <a href="/pages/figuras.html">
              <img
                src="{% static 'img/otros/figuras-categoria.png' %}"
                alt="pines"
                class="card-categoria"
              />
            </a>
          </div>
        </div>
      </section>
      <!-- Fin Categorias -->

      <!-- Inicio Lo más vendido -->
      <section class="section-space">
        <div class="container-fluid">
          <div
            class="row justify-content-center align-items-center text-center text-md-left"
          >
            <div class="col-12 col-md-auto col-lg-8 bg-yellow border-circle">
              <h3>Lo más vendido</h3>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="items justify-content-center">
            <div class="card shadow-sm ">
              <img
                src="{% static 'img/productos/pines-oferta.jpg' %}"
                alt="producto"
                class="card-producto"
              />
              <div class="card-body">
                <h6 class="card-title">Pack x6 Pines Demon Slayer</h6>
                <div>
                  <span class="discount-badge"> -15% DCTO </span>
                  <span>
                    <del>$95.990</del>
                  </span>
                </div>
                <div>
                  <h6 class="mt-2">Ahora $80.990</h6>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="button text-transition">
                      Comprar
                    </button>
                  </div>
                  <a href="#" class="button-add"
                    ><i
                      class="bi bi-cart-plus icon-add-size text-transition"
                    ></i
                  ></a>
                </div>
              </div>
            </div>
            <div class="card shadow-sm">
              <img
                src="{% static 'img/productos/pines-oferta.jpg' %}"
                alt="producto"
                class="card-producto"
              />
              <div class="card-body">
                <h6 class="card-title">Pack x6 Pines Demon Slayer</h6>
                <div>
                  <span class="discount-badge"> -15% DCTO </span>
                  <span>
                    <del>$95.990</del>
                  </span>
                </div>
                <div>
                  <h6 class="mt-2">Ahora $80.990</h6>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="button text-transition">
                      Comprar
                    </button>
                  </div>
                  <a href="#" class="button-add"
                    ><i
                      class="bi bi-cart-plus icon-add-size text-transition"
                    ></i
                  ></a>
                </div>
              </div>
            </div>
            <div class="card shadow-sm">
              <img
                src="{% static 'img/productos/pines-oferta.jpg' %}"
                alt="producto"
                class="card-producto"
              />
              <div class="card-body">
                <h6 class="card-title">Pack x6 Pines Demon Slayer</h6>
                <div>
                  <span class="discount-badge"> -15% DCTO </span>
                  <span>
                    <del>$95.990</del>
                  </span>
                </div>
                <div>
                  <h6 class="mt-2">Ahora $80.990</h6>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="button text-transition">
                      Comprar
                    </button>
                  </div>
                  <a href="#" class="button-add"
                    ><i
                      class="bi bi-cart-plus icon-add-size text-transition"
                    ></i
                  ></a>
                </div>
              </div>
            </div>
            <div class="card shadow-sm">
              <img
                src="{% static 'img/productos/pines-oferta.jpg' %}"
                alt="producto"
                class="card-producto"
              />
              <div class="card-body">
                <h6 class="card-title">Pack x6 Pines Demon Slayer</h6>
                <div>
                  <span class="discount-badge"> -15% DCTO </span>
                  <span>
                    <del>$95.990</del>
                  </span>
                </div>
                <div>
                  <h6 class="mt-2">Ahora $80.990</h6>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="button text-transition">
                      Comprar
                    </button>
                  </div>
                  <a href="#" class="button-add"
                    ><i
                      class="bi bi-cart-plus icon-add-size text-transition"
                    ></i
                  ></a>
                </div>
              </div>
            </div>
            <div class="card shadow-sm">
              <img
                src="{% static 'img/productos/peluche-oferta.jpeg' %}"
                alt="producto"
                class="card-producto"
              />
              <div class="card-body">
                <h6 class="card-title">Peluche Chopper</h6>
                <div>
                  <span class="discount-badge"> -15% DCTO </span>
                  <span>
                    <del>$95.990</del>
                  </span>
                </div>
                <div>
                  <h6 class="mt-2">Ahora $80.990</h6>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="button text-transition">
                      Comprar
                    </button>
                  </div>
                  <a href="#" class="button-add"
                    ><i
                      class="bi bi-cart-plus icon-add-size text-transition"
                    ></i
                  ></a>
                </div>
              </div>
            </div>
            <div class="card shadow-sm">
              <img
                src="{% static 'img/productos/peluche-oferta.jpeg' %}"
                alt="producto"
                class="card-producto"
              />
              <div class="card-body">
                <h6 class="card-title">Peluche Chopper</h6>
                <div>
                  <span class="discount-badge"> -15% DCTO </span>
                  <span>
                    <del>$95.990</del>
                  </span>
                </div>
                <div>
                  <h6 class="mt-2">Ahora $80.990</h6>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="button text-transition">
                      Comprar
                    </button>
                  </div>
                  <a href="#" class="button-add"
                    ><i
                      class="bi bi-cart-plus icon-add-size text-transition"
                    ></i
                  ></a>
                </div>
              </div>
            </div>
            <div class="card shadow-sm">
              <img
                src="{% static 'img/productos/peluche-oferta.jpeg' %}"
                alt="producto"
                class="card-producto"
              />
              <div class="card-body">
                <h6 class="card-title">Peluche Chopper</h6>
                <div>
                  <span class="discount-badge"> -15% DCTO </span>
                  <span>
                    <del>$95.990</del>
                  </span>
                </div>
                <div>
                  <h6 class="mt-2">Ahora $80.990</h6>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="button text-transition">
                      Comprar
                    </button>
                  </div>
                  <a href="#" class="button-add"
                    ><i
                      class="bi bi-cart-plus icon-add-size text-transition"
                    ></i
                  ></a>
                </div>
              </div>
            </div>
            <div class="card shadow-sm">
              <img
                src="{% static 'img/productos/peluche-oferta.jpeg' %}"
                alt="producto"
                class="card-producto"
              />
              <div class="card-body">
                <h6 class="card-title">Peluche Chopper</h6>
                <div>
                  <span class="discount-badge"> -15% DCTO </span>
                  <span>
                    <del>$95.990</del>
                  </span>
                </div>
                <div>
                  <h6 class="mt-2">Ahora $80.990</h6>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="button text-transition">
                      Comprar
                    </button>
                  </div>
                  <a href="#" class="button-add"
                    ><i
                      class="bi bi-cart-plus icon-add-size text-transition"
                    ></i
                  ></a>
                </div>
              </div>
            </div>
            <div class="card shadow-sm">
              <img
                src="{% static 'img/productos/figura-oferta.jpeg' %}"
                alt="producto"
                class="card-producto"
              />
              <div class="card-body">
                <h6 class="card-title">Three pack figuras de Demon Slayer</h6>
                <div>
                  <span class="discount-badge"> -15% DCTO </span>
                  <span>
                    <del>$95.990</del>
                  </span>
                </div>
                <div>
                  <h6 class="mt-2">Ahora $80.990</h6>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="button text-transition">
                      Comprar
                    </button>
                  </div>
                  <a href="#" class="button-add"
                    ><i
                      class="bi bi-cart-plus icon-add-size text-transition"
                    ></i
                  ></a>
                </div>
              </div>
            </div>
            <div class="card shadow-sm">
              <img
                src="{% static 'img/productos/figura-oferta.jpeg' %}"
                alt="producto"
                class="card-producto"
              />
              <div class="card-body">
                <h6 class="card-title">Three pack figuras de Demon Slayer</h6>
                <div>
                  <span class="discount-badge"> -15% DCTO </span>
                  <span>
                    <del>$95.990</del>
                  </span>
                </div>
                <div>
                  <h6 class="mt-2">Ahora $80.990</h6>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="button text-transition">
                      Comprar
                    </button>
                  </div>
                  <a href="#" class="button-add"
                    ><i
                      class="bi bi-cart-plus icon-add-size text-transition"
                    ></i
                  ></a>
                </div>
              </div>
            </div>
            <div class="card shadow-sm">
              <img
                src="{% static 'img/productos/figura-oferta.jpeg' %}"
                alt="producto"
                class="card-producto"
              />
              <div class="card-body">
                <h6 class="card-title">Three pack figuras de Demon Slayer</h6>
                <div>
                  <span class="discount-badge"> -15% DCTO </span>
                  <span>
                    <del>$95.990</del>
                  </span>
                </div>
                <div>
                  <h6 class="mt-2">Ahora $80.990</h6>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="button text-transition">
                      Comprar
                    </button>
                  </div>
                  <a href="#" class="button-add"
                    ><i
                      class="bi bi-cart-plus icon-add-size text-transition"
                    ></i
                  ></a>
                </div>
              </div>
            </div>
            <div class="card shadow-sm">
              <img
                src="{% static 'img/productos/figura-oferta.jpeg' %}"
                alt="producto"
                class="card-producto"
              />
              <div class="card-body">
                <h6 class="card-title">Three pack figuras de Demon Slayer</h6>
                <div>
                  <span class="discount-badge"> -15% DCTO </span>
                  <span>
                    <del>$95.990</del>
                  </span>
                </div>
                <div>
                  <h6 class="mt-2">Ahora $80.990</h6>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="button text-transition">
                      Comprar
                    </button>
                  </div>
                  <a href="#" class="button-add"
                    ><i
                      class="bi bi-cart-plus icon-add-size text-transition"
                    ></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Fin Lo más vendido -->

      
    </main>
    
    {% include 'base/footer.html' %}

    <!-- Modal Carrito -->
    <div
      class="modal fade"
      id="modal-carro"
      tabindex="-1"
      aria-labelledby="modal-carro"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-right modal-carro">
        <div class="modal-content">
          <div class="modal-header">
            <h3>Tu carrito</h3>
          </div>
          <div class="modal-body">
            <div class="text-center mb-3">
              <img
                src="{% static 'img/otros/compra.png' %}"
                alt="GameGeek"
                width="300px"
              />
            </div>

            <h6 class="text-center">¡Tu carrito está vacío!</h6>

            <div class="mt-3 text-center d-grid gap-2">
              <a href="#" class="btn btn-primary btn-orange">Comprar ahora</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous">
    </script>
  </body>
</html>