<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>GameGeek | Terminos y condiciones</title>
  </head>
  <body>
    <div>
      <h1>Terminos y condiciones</h1>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores
        incidunt cum, in molestias doloribus facere reiciendis alias, maxime
        officiis, distinctio quam ducimus maiores aut animi architecto quisquam
        necessitatibus mollitia dolore?
      </p>
    </div>
  </body>
</html>
