a {
  color: #1d1d1b;
  text-decoration: none;
}

th, h1, h2, h3, h4, h5, h6 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
  "Lucida Sans Unicode", Verdana, sans-serif !important;
}

td, li, p, button, span {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
  "Lucida Sans Unicode", Geneva, Verdana, sans-serif !important;
}

button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

del {
  font-size: 13px;
  color: #777;
  padding: 10px;
}

main {
  min-height: 100vh;
}

footer {
  background-color: #ffb600;
  color: #1d1d1b;
  padding: 20px 0px;
  text-align: center;
  bottom: 0;
}

.form-alert {
  color: rgb(245, 44, 44);
}

.terms {
  color: #ecac0a;
}

.terms:hover {
  color: #ffb600;
}

.container {
  display: flex;
}

.card-col-2 {
  width: 20%;
  margin: 20px;
}

.card-col-10 {
  margin: 20px;
}

.fix-col-margin {
  margin: 20px;
}

.cursor-pointer {
  cursor: pointer;
}

.card-animation:hover {
  transition: transform 0.5s;
  transform: scale(1.05);
}

.btn-orange {
  background-color: #ffb600;
  color: #1d1d1b;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;    
}

.btn-orange:hover {
  background-color: #ffd058;
  color: #1d1d1b;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
  text-align: center;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

.section-space {
  margin: 15px;
}

.space-form {
  display: flex;
  grid-template-columns: 1fr minmax(100px , 1fr);
  justify-content: center;
}

.space-priv {
  display: flex;
  grid-template-columns: 1fr minmax(100px , 1fr);
  justify-content: center;
  float: left !important;
}

.term {
  display: flex;
  justify-content: center;
}

.formulario {
  margin: 0 auto;
  width: 450px;
  padding: 20px;
  border-radius: 5px;
  background-color: white;
}

.form-control {
  background-color: #e9ecef;
}

.carousel-item img {
  width: 350px;
  height: 250px;
  object-fit: cover;
}

.better-div {
  margin: 30px;
}

.better-background {
  background-color: white;
  padding: 10px;
}

.discount-badge {
  background-color: #ffb600;
  font-size: 13px;
  color: #1d1d1b;
  padding: 3px 3px;
  border-radius: 5px;
}

.navbar-icons {
  display: inline-flex;
  margin-left: 30px;
  justify-content: center;
  flex: 0;
}

.modal-right {
  position: absolute;
  top: 30px;
  right: 20px;
}

.modal-carro {
  top: 0px;
  margin: 0px;
}

.modal-carro > .modal-content {
  height: 100vh;
  padding: 0 40px 0 40px;
}

.navbar-dropdown-transition:hover {
  background-color: #ffb600;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
}

.category-list {
  padding-left: 20px;
}

.icon-size {
  font-size: 35px;
  color: #1d1d1b;
}

.navbar-icon {
  font-size: 25px;
  color: #1d1d1b;
}

.text-transition:hover {
  color: #ffffff;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
}

.txt-orange-transition:hover {
  color: #ffb600;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
}

.container-category {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.icon-add-size {
  font-size: 25px;
  color: black;
}

.button {
  background-color: #ffb600;
  border: none;
  border-radius: 7%;
  padding: 5px 15px;
  font-size: large;
}

.button-add {
  background-color: #ffb600;
  border: none;
  border-radius: 7%;
  padding: 0px 5px;
}

.card {
  background-color: #e9ecef;
  margin: 5px;
  width: 210px;
  border: none;
  padding: 10px;
}

.card-categoria {
  width: 180px;
}

.txt-color-primary {
  color: #ffb600;
}

.txt-color-secondary {
  color: #1d1d1b;
}

.bg-yellow {
  background-color: #ffb600;
}

.border-circle {
  border-radius: 50px;
}

.social_footer {
  text-align: center;
}

.follow_us {
  text-align: center;
}

.img-padding {
  padding: 10px;
}

.text-left {
  text-align: left;
}

.items {
  display: flex;
  flex-wrap: wrap;
}

.info {
  text-align: left;
}

.ul-left {
  text-align: left;
  list-style: none;
  margin-left: 15px;
}

.list-footer {
  list-style: none;
}

.footer-section {
  display: inline-table;
  margin: 0 40px;
  text-align: left;
}

.footer-section h4 {
  margin-bottom: 10px;
  justify-content: center;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 5px;
}

.footer-section ul li a {
  color: #1d1d1b;
  text-decoration: none;
}

.icon-list{
  margin-left: 6%;
}