a {
  color: #000000;
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif!important;
  letter-spacing: 2px;
}

th,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif!important;
  letter-spacing: 2px;
}

.text-title {
  font-family: 'Roboto', sans-serif!important;
  letter-spacing: 2px;
  font-size: 2em;
  font-weight: bold;
}

.text-sub-title {
  font-family: 'Roboto', sans-serif!important;
  letter-spacing: 2px;
  font-size: 1em;
  font-weight: bold;
}

td,
li,
p,
button,
span {
  font-family: 'Roboto', sans-serif!important;
  letter-spacing: 2px;
}

button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

input:disabled,
input[disabled] {
  color: rgba(141, 141, 141, 0.699);
  cursor: not-allowed;
}

del {
  font-size: 13px;
  color: #777;
  padding: 10px;
}

main {
  min-height: 100vh;
}

footer {
  background-color: #ffb600;
  color: #000000;
  padding: 20px 0px;
  text-align: center;
  bottom: 0;
}

.hidden {
  display: none;
}

.cart-preview-item-img {
  width: 120px;
  height: 120px;
}

.cart-preview__product_item {
  display: flex;
  align-items: stretch;
  padding: 0.5rem;
  gap: 20px;
}

.cart-preview__product_item_delete {
  cursor: pointer;
}

.form-alert {
  color: rgb(245, 44, 44);
}

.terms {
  color: #ecac0a;
}

.terms:hover {
  color: #ffb600;
}

.container {
  display: flex;
}

.card-col-2 {
  width: 20%;
  margin: 20px;
}

.card-col-10 {
  margin: 20px;
}

.fix-col-margin {
  margin: 20px;
}

.cursor-pointer {
  cursor: pointer;
}

.card-animation:hover {
  transition: transform 0.5s;
  transform: scale(1.05);
}

.btn-orange {
  background-color: #ffb600 !important;
  color: #000000;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.btn-orange:disabled {
  background-color: #666666 !important;
  color: #000000;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: not-allowed;
}

.btn-orange:hover {
  background-color: #ffd058 !important;
  color: #000000;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.btn-cart {
  background-color: #ffb600 !important;
  color: #000000;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 70%;
}

.btn-cart:disabled {
  background-color: #666666 !important;
  color: #000000;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: not-allowed;
}

.btn-cart:hover {
  background-color: #ffd058 !important;
  color: #000000;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.btn-stock {
  background-color: white!important;
  color: #ffb600;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.btn-stock:hover {
  background-color: white!important;
  color: #ffd058;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.btn-trash {
  background-color: white!important;
  color: black;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.btn-trash:hover {
  background-color: white!important;
  color: #999999;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
  text-align: center;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

.section-space {
  margin: 15px;
}

.space-form {
  display: flex;
  grid-template-columns: 1fr minmax(100px, 1fr);
  justify-content: center;
}

.space-priv {
  display: flex;
  grid-template-columns: 1fr minmax(100px, 1fr);
  justify-content: center;
  float: left !important;
}

.navbar-img {
  width: auto;
  height: 50px;
}

.term {
  display: flex;
  justify-content: center;
}

.formulario {
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  background-color: white;
}

.form-control {
  background-color: #e9ecef;
}

.w-100 {
  width: 100%!important;
}

.img-fluid {
  width: 100%;
  height: auto;
}

.better-div {
  margin: 30px;
}

.better-background {
  background-color: white;
  padding: 10px;
}

.discount-badge {
  background-color: #ffb600;
  font-size: 13px;
  color: #1d1d1b;
  padding: 3px 3px;
  border-radius: 5px;
}

.navbar-icons {
  display: inline-flex;
  margin-left: 30px;
  justify-content: center;
  flex: 0;
}

.modal-right {
  position: absolute;
  top: 30px;
  right: 20px;
}

.modal-carro {
  top: 0px;
  margin: 0px;
}

.modal-carro > .modal-content {
  height: 100vh;
}

.navbar-dropdown-transition:hover {
  background-color: #ffb600;
  transition-property: color, background-color, border-color,
  text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
}

.category-list {
  padding-left: 20px;
}

.icon-size {
  font-size: 50px;
  color: #000000;
}

.navbar-icon {
  font-size: 25px;
  color: #000000;
}

.text-transition:hover {
  color: #ffffff;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
}

.txt-orange-transition:hover {
  color: #ffb600;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
}

.container-category {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.icon-add-size {
  font-size: 25px;
  color: #000000;
}

.btn-add-cart {
  margin-top: 30px;
  background-color: #ffb600;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: large;
  width: 100%;
  text-align: center;
}

.button-add {
  background-color: #ffb600;
  border: none;
  border-radius: 7%;
  padding: 0px 5px;
}

.space-pay {
  width: 100%!important;
}

.card {
  background-color: #e9ecef;
  margin: 5px;
  width: 210px;
  border: none;
  padding: 10px;
}

.card-image {
  width: 180px;
  height: 190px;
  object-fit: fill;
  border-radius: 5px;
}

.card-categoria {
  width: 190px;
}

.card-title {
  margin-left: 5px;
}

.nav-space {
  margin-right: 22%!important;
}

.txt-color-primary {
  color: #ffb600;
}

.txt-color-secondary {
  color: #000000;
}

.bg-yellow {
  background-color: #ffb600;
  background: radial-gradient(circle, #ff9100 0%, #f7b733 100%);
}

.border-circle {
  border-radius: 50px;
}

.social_footer {
  text-align: center;
}

.follow_us {
  text-align: center;
}

.img-padding {
  padding: 10px;
}

.text-left {
  text-align: left;
}

.items {
  display: flex;
  flex-wrap: wrap;
}

.info {
  text-align: left;
}

.info-user {
  display: flex;
  justify-content: space-evenly;
}

.ul-left {
  text-align: left;
  list-style: none;
}

.img-footer {
  width: 150px;
  height: 90px;
}

.list-footer {
  list-style: none;
}

.footer-section {
  display: inline-table;
  margin: 0 40px;
  text-align: left;
}

.footer-section h4 {
  margin-bottom: 10px;
  justify-content: center;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 5px;
}

.footer-section ul li a {
  color: #000000;
  text-decoration: none;
}

.account-info {
  margin-left: 10px;
}

.icon-list {
  margin-left: 6%;
}

.space-cart {
  width: 96%;
}

.total-pay {
  display: flex;
  justify-content: space-between;
}

.custom-checkbox {
  width: 20px!important;
  height: 20px!important;
  border-radius: 50%!important;
  background-color: #fff;
  border: 2px solid #ccc;
  appearance: none;
  cursor: pointer;
}

.custom-checkbox:checked {
  background-color: #ffb600;
  border-color: #ffdb80;
}

.text-bg-orange {
  background-color: #ffb600;
  color: white;
}

.size-profile {
  width: 250px !important;
}

.search-button {
  background-color: #ffb600;
  color: black;
  transition: 0.3s;
  border-radius: 0px 5px 5px 0px;
}

.form-control-search {
  background-color: #e9ecef;
  border-radius: 5px 0px 0px 5px;
  border: none;
}

.search-button:hover {
  background-color: #f8ca57;
  color: black;
  transition: 0.3s;
}

.content-end {
  display: flex;
  justify-content: flex-end;
}

.space-order {
  justify-content: space-between;
}

.more-content {
  text-decoration: underline;
  color: blue;
  transition: 0.2s;
}

.more-content:hover {
  color: rgb(112, 112, 247);
  transition: 0.2s;
}

.user-files:hover {
  transition: 0.3s;
  background-color: #f8ca57;
  padding: 5px;
  border-radius: 5px;
}

.user-files {
  transition: 0.3s;
  color: black;
}

.offcanvas-custom-size {
  width: 400px!important;
}