{% load static %}

<footer class="shadow-lg" id="footer-section">
  <div class="container justify-content-center">
    <div class="row text-center text-md-start">
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto">
        <div>
          <img
            src="{% static 'img/gamegeek/gg-n-junto.svg' %}"
            alt="GameGeek"
            class="img-footer"
          />
          <ul class="list-unstyled">
            <li>
              <a href="https://www.instagram.com/gamegeekcl" target="_blank">
                <i class="bi bi-instagram icon-size text-transition"></i>
              </a>
              <a href="https://www.tiktok.com/@gamegeekcl" target="_blank">
                <i class="bi bi-tiktok icon-size text-transition"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto">
        <div>
          <h5>Información</h5>
          <hr>
          <ul class="list-unstyled">
            <li class="mb-1">Nuestro Correo:</li>
            <li class="mb-2">
              <a
                href="mailto:contacto@gamegeek.cl"
                target="_blank"
                class="text-transition"
                >contacto@gamegeek.cl</a
              >
            </li>
            <li class="mb-1">Necesitas Ayuda:</li>
            <li class="mb-2">
              <a
                href="mailto:ayuda@gamegeek.cl"
                target="_blank"
                class="text-transition"
                >ayuda@gamegeek.cl</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto">
        <h5>Condiciones</h5>
        <hr>
        <ul class="list-unstyled">
          <li class="mb-2">
            <a href="{% url 'terms' %}" class="text-transition"
              >Términos y Condiciones</a
            >
          </li>
          <li>
            <a href="{% url 'privacy' %}" class="text-transition"
              >Política de Privacidad</a
            >
          </li>
        </ul>
      </div>
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto">
        <h5>Medios de Pago</h5>
        <hr>
        <ul class="list-unstyled">
          <li>
            <img
              src="{% static 'img/otros/wflow.png' %}"
              alt="Medio de Pago"
              width="200px"
              height="100px"
            />
          </li>
        </ul>
      </div>
      <div>
        <hr />
      </div>
    </div>
  </div>
</footer>
