{% load static %}

<footer id="footer-section">
  <div class="footer-section footer-right">
    <img
      src="{% static 'img/gamegeek/gg-n-junto.svg' %}"
      alt="GameGeek"
      width="200px"
      height="200px"
    />
    <p class="text-left">Siguenos en:</p>
    <ul class="ul-left">
      <li>
        <a href="https://www.instagram.com/gamegeekcl" target="_blank">
          <i class="bi bi-instagram icon-size text-transition"></i>
        </a>
        <a href="https://www.tiktok.com/@gamegeekcl" target="_blank">
          <i class="bi bi-tiktok icon-size text-transition"></i>
        </a>
      </li>
    </ul>
  </div>
  <div class="footer-section">
    <h4>Servicio al Cliente</h4>
    <ul class="ul-left">
      <li>Nuestro Correo:</li>
      <li>
        <a
          href="mailto:contacto@gamegeek.cl"
          target="_blank"
          class="text-transition"
          >contacto@gamegeek.cl</a
        >
      </li>
      <li>Necesitas Ayuda:</li>
      <li>
        <a
          href="mailto:ayuda@gamegeek.cl"
          target="_blank"
          class="text-transition"
          >ayuda@gamegeek.cl</a
        >
      </li>
    </ul>
  </div>
  <div class="footer-section">
    <h4>Informaciones</h4>
    <ul class="ul-left">
      <li>
        <a href="{% url 'terms' %}" class="text-transition">Términos y Condiciones</a>
      </li>
      <li>
        <a href="{% url 'privacy' %}" class="text-transition">Política de Privacidad</a>
      </li>
    </ul>
  </div>
  <div class="footer-section">
    <h4>Medios de Pago</h4>
    <ul class="ul-left">
      <li>
        <img
          src="{% static 'img/otros/wflow.png' %}"
          alt="Medio de Pago"
          width="400px"
          height="200px"
        />
      </li>
    </ul>
  </div>
</footer>
