{% load static %}

<!-- Modal Carrito -->
<div class="modal fade" id="modal-carro" tabindex="-1" aria-labelledby="modal-carro" aria-hidden="true">
  <div class="modal-dialog modal-right modal-carro">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="mx-auto">Carrito de compra</h3>
      </div>
      <div class="modal-body">
        <div class="cart-preview__empty">
          <div class="text-center mb-3">
            <img src="/static/img/otros/compra.png" alt="GameGeek" width="300px" />
          </div>

          <h6 class="text-center">¡Tu carrito está vacío!</h6>

          <div class="mt-3 text-center d-grid gap-2">
            <a href="" class="btn btn-primary btn-orange">Comprar ahora</a>
          </div>
        </div>
        <div class="cart-preview__not-empty hidden">
          <div class="cart-preview__products"></div>

          <div class="cart-preview__total">
            <div class="cart-preview__total_cantidad">
              Unidades: <span class="cart-preview__total_cantidad_cantidad"></span>
            </div>
            <div class="cart-preview__total_precio">
              Total: <span class="cart-preview__total_precio_precio"></span>
            </div>
          </div>

          <div class="cart-preview__button">
            <div class="mt-3 text-center d-grid gap-2">
              <a href="https://gamegeek.cl/checkout" class="btn btn-primary btn-orange">Ver productos del carrito</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>