{% load static %}

<!-- Offcanvas Profile -->
<div class="offcanvas offcanvas-end offcanvas-custom-size bg-yellow size-profile" tabindex="-1" id="offcanvasDarkNavbar"
    aria-labelledby="offcanvasDarkNavbarLabel">
    <div class="offcanvas-header">
        <div>
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                class="bi bi-person-circle text-dark" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                <path fill-rule="evenodd"
                    d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
            </svg>
        </div>
        <h4 class="offcanvas-title text-dark m-2">{{ user.nombre }} {{ user.apellido }}</h4>
        <button type="button" class="btn-close btn-close-dark" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            {% if user.is_staff %}
            <hr class="text-dark">
            <li class="nav-item user-files">
                <a class="nav-link" href="{% url 'dashboard' %}">Panel de Administrador</a>
            </li>
            {% endif %}
            <hr class="text-dark">
            <li class="nav-item user-files">
                <a class="nav-link active" aria-current="page" href="{% url 'account/mis-datos' %}">Mis Datos</a>
            </li>
            <li class="nav-item user-files">
                <a class="nav-link" href="{% url 'orders' %}">Mis Direcciones</a>
            </li>
            <li class="nav-item user-files">
                <a class="nav-link" href="{% url 'orders' %}">Mis Pedidos</a>
            </li>
            <li class="nav-item user-files">
                <a class="nav-link" href="{% url 'pays' %}">Mis Pagos</a>
            </li>
            <hr class="text-dark">
            <li class="nav-item user-files">
                <a class="nav-link" href="">Centro de ayuda</a>
            </li>
            <li class="nav-item user-files">
                <a class="nav-link" href="">Centro de reclamos</a>
            </li>
            <hr class="text-dark">
            <li class="nav-item user-files">
                <a class="nav-link" href="{% url 'api/logout' %}">Cerrar Sesión</a>
            </li>
        </ul>
    </div>
</div>